.article {
  display: grid;
  width: 40%;
  min-width: 22.5rem;
  max-height: 12rem;
  grid-template:
    "title image" auto
    "text image" 10rem / 70% 30%;

  &__title {
    grid-area: title;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
  }

  &__text {
    grid-area: text;
    margin-bottom: 0;
    padding-right: 2%;
    font-size: 1.4rem;
    font-weight: 400;
  }

  &__image {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
