@import "logo", "navigation";

.footer {
  width: 100%;
  padding: 0 3%;
  margin-bottom: 0.8rem;
  border-top: solid;
  display: flex;
  flex-flow: row wrap;
  font-family: "Readex Pro", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;

  &__contact {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    width: 50%;
  }

  &__number,
  &__email {
    font-style: normal;
    text-decoration-line: none;
    color: black;
  }

  &__links-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 50%;
  }

  &__links {
    display: flex;
    flex-flow: column nowrap;
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 700;
  }

  &__hr {
    width: 100%;
  }

  &__copyright {
    width: 100%;
    text-align: center;
  }
}
