@import "logo", "navigation";

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 3%;
  width: 100%;
  height: 6.5rem;
  border-bottom: solid;
}
