.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__title {
    white-space: nowrap;
    font-family: "Readex Pro", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    font-style: normal;
  }
}
