.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  min-width: 22rem;
  font-family: "Readex Pro", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;

  &__item {
    text-decoration: none;
    color: black;
    opacity: 0.7;
  }

  &__item--active {
    opacity: 1;
  }

  &--col-2 {
    flex-flow: row wrap;
  }

  &__item--col-2 {
    flex-basis: 50%;
    margin-bottom: 1rem;
  }
}
