@import "header", "footer";

:root {
  font-size: 16px;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.html {
  /* mobile viewport bug fix */
  min-height: fill-available;
}

.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    auto
    1fr
    auto;
  min-height: 100vh;
  max-width: 90rem;
  min-width: 40rem;
  margin: 0 auto;
  font-family: "Readex Pro", Helvetica, sans-serif;
}
