/*------------------------------------*\
  #Readex Pro
\*------------------------------------*/

@font-face {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Readex Pro"), url("../fonts/ReadexPro-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Readex Pro Medium"), url("../fonts/ReadexPro-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Readex Pro SemiBold"), url("../fonts/ReadexPro-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Readex Pro Bold"), url("../fonts/ReadexPro-Bold.ttf");
  font-display: swap;
}
