@import "blocks/page";

.main {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 5%;

  &__introduction {
    width: 50%;
    padding-left: 10%;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  &__description {
    font-size: 1.25rem;
  }

  &__button {
    height: 2.9rem;
    width: 10.6rem;
    background-color: #e3de60;
    border: 1px solid black;
    border-radius: 1.5rem;
  }

  &__image-wrap {
    width: 50%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
