@import "blocks/page";

.main {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 5%;

  &__bg-image {
    width: 50%;
    height: 100%;
    background: {
      image: url("../assets/images/sitting-man.png");
      position: bottom center;
      repeat: no-repeat;
      size: contain;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__introduction {
    width: 50%;
    padding-left: 10%;

    @media (max-width: 768px) {
      width: 100%;
      padding-left: 0;
    }
  }
}

.introduction {
  &__title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  &__description {
    font-size: 1.25rem;
  }

  &__button {
    height: 2.9rem;
    width: 10.6rem;
    background-color: #e3de60;
    border: 1px solid black;
    border-radius: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}
